%div{ itemprop: 'publisher', itemscope: 'itemscope', itemtype: 'https://schema.org/Organization'}
  %meta{ itemprop: 'url', content: root_url }
  %meta{ itemprop: 'name', content: Workarea.config.site_name }
  -# TODO: Add meta data for logo, this must include url, width, and height attributes 
  -# This will require a helper method for site logo with something similar to dragonfly analyzers for width & height
  -# example: https://webmasters.stackexchange.com/questions/95957/how-to-specify-publisher-in-schema-orgs-article-structured-data
  